body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.super{
    display: flex;
    position: relative;
    margin: 4%;
}
 h1{
    text-align: center;
    font-size: 72px;
    color: #43443e;
}
.box{
    text-align: left;
    display: inline-block;
    flex-direction: row;
    margin: 2%;
    text-align: center;
    background: #43443e;
    color: #fff;
    width: 500px;
    height: 700px;
}
.box h2{
    position: relative;
    text-decoration: underline;
}
table{
    margin: 2%;
}
table,td,tr{
    border-bottom: 2px solid white;
    border-radius: 50%;
    border-collapse: collapse;
  
}
.box table tr td{
    width: 87%;
    text-align: left;
}
a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
   
   
}
.btn{
    background: #43443e;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 90%;

}